/*

3d Maze
Thomas Bell

*/

body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}

#compass {
  height: 300px;
  width: 300px;
  position: fixed;
  bottom: -190px;
  left: 50%;
  margin-left: -150px;
  z-index: 0;
}

#canvas {
  position: absolute;
  z-index: 1;
}
