/*

Drawing Pad
Thomas Bell

*/

body, html {
  margin: 0;
  padding: 0;
  /*background-color: magenta;*/
  cursor: crosshair;
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.clear {
  position: fixed;
  bottom: 50px;
  left: 50%;
  width: 90px;
  border: outset;
  text-align: center;
  font-family: monospace;
  padding: 10px;
  margin-left: -55px;
  -webkit-user-select: none;
  z-index: 99;
}

.clear:hover {
  border: inset;
}

/*animating the drawing to fade from .5 to .05 opacity*/
@keyframes fade {
    from {opacity: .5;}
    to {opacity: .05;}
}

/*animating the bars to flash and then quickly fade to 0 opacity*/
@keyframes flash {
  from {opacity: 1;}
  to {opacity: 0}
}

.controls {
  text-align: center;
  position: fixed;
  width: 400px;
  left: 50%;
  bottom: 8px;
  margin-left: -200px;
  margin-bottom: 5px;
  font-family: monospace;
  -webkit-user-select: none;

}

.rect {
  border: 1px solid;
}
